body{
    font-family:Tahoma,sans-serif;
    background:#f5f5f5;
    margin:20px;
}

h1{
    text-align:center;
}

#seatMap{
    max-width:1100px;
    margin:auto;
}

.row,
.president{
    display:flex;
    justify-content:center;
    gap:12px;
    margin-bottom:15px;
}

.seat{
    width:75px;
    height:75px;
    border:2px solid #999;
    border-radius:10px;
    background:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition:.2s;
}

.seat:hover{
    background:#e3f2fd;
    transform:scale(1.05);
}

.seat-number{
    font-weight:bold;
    font-size:18px;
}

.seat-name{
    font-size:11px;
    text-align:center;
    margin-top:4px;
}
/* เส้นคั่นระหว่างประธานกับผู้ร่วมพิธี */
.section-divider{
    width:100%;
    border:none;
    border-top:3px solid #333;
    margin:40px 0;
}

/* เส้นคั่นกลางผู้ร่วมพิธี */
.middle-divider{
    width:100%;
    border:none;
    border-top:2px dashed #777;
    margin:30px 0;
}
